.width80{
    width: 80vw; 
 }
 
 .tabela{
     width: 100%;
     margin-top: 20px;
 }
 
 .tabela-linha{
     background-color: #e8e7e7;
 }

 img.pet_foto{
    width: 150px;
    height: 150px;
 }
 
.logoutbtn {
    background-color: rgb(122, 17, 17);
    border: none;
    box-shadow: 2px 2px 5px 1px rgb(108, 108, 108);
    color: white;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}